<!DOCTYPE html>
<html lang="en" ng-app="myApp" class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>My AngularJS App</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
<link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
<link rel="stylesheet" href="app.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
	<div ng-app="myApp" ng-controller="wineController" class="container">

		<h1>User factory 20150703-02</h1>
		<table class="table table-striped table-bordered table-condensed">
			<tr ng-repeat="w in wines">
				<td>{{ w.name }}</td>
				<td>{{ w.country }}</td>
				<td>{{ w.vintage }}</td>
			</tr>
		</table>
		<hr>
		<form >
			User ID: <input type="text" ng-model="userId"><br>
			<button type="button" class="btn btn-primary" ng-click="search()">Search</button>
		</form>

	</div>
	
	<script src="bower_components/angular/angular.js"></script>
  	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angular-resource/angular-resource.js"></script>
	<script src="wservices.js"></script>
	<script src="wine_a.js"></script>

</body>
</html>
